@{
    ViewData["Title"] = "Second Level";
}
<h1>@ViewData["Title"]</h1>

<p>This is second level, your authorization level is 2. You can go back but you cannot go further. Because you are not allowed to go third level!</p>
