@{
    ViewData["Title"] = "Third Level";
}
<h1>@ViewData["Title"]</h1>

<p>This is third level, your authorization level is 3. You can go back but you cannot go further. Because there is no further.</p>
